@using System
@using MGF.QOLMS.QolmsJotoWebView
@model IntegrationCompanyConnectionViewModel

@{
    ViewData["Title"] = "法人連携";
    Layout = "~/Views/Shared/_IntegrationLayout.cshtml";
}

<body id="gulf-cont" class="lower gulf">
    @Html.AntiForgeryToken()

    <main id="main-cont" class="clearfix" role="main">
        <section class="home-btn-wrap" data-pageno="@Convert.ToByte(Model.FromPageNoType)">
            @if (Model.FromPageNoType == QjPageNoTypeEnum.PortalHome)
            {
                <a href="@Url.Action("ConnectionSetting", "Portal", new { fromPageNo = 1, tabNo = 2 })" class="home-btn"><i class="la la-angle-left"></i></a>
            }
            else
            {
                <a href="@Url.Action("ConnectionSetting", "Portal", new { tabNo = 2 })" class="home-btn"><i class="la la-angle-left"></i></a>
            }
        </section>

        <section class="contents-area mb0">
            <h2 class="title">@string.Format("{0}連携", Model.LinkageSystemName)</h2>
            <hr>
            <section class="section default">
                連携が完了すると健診情報がある場合は1時間程度で閲覧いただけるようになります。
            </section>

            <section id="caution" class="section caution mt10 mb10 hide">
                <h4>ご案内</h4>
                連携処理でエラーが発生した場合はここに表示されます。
            </section>

            <section class="section center">
                @if (Model.CompanyConnectedFlag)
                {
                    <span class="ico main"><i class="la la-check-circle-o"></i> 連携済み</span>
                }
                else
                {
                    <span class="ico line">未連携</span>
                }
            </section>

            <h3 class="title">受け取る情報</h3>
            <p class="mb40"><span class="ico line">検査・健診情報</span></p>

            <h3 class="title">開示する情報</h3>
            <p class="mb40">
                @if (Model.ShareBasicInfo)
                {<span class="ico line">基本情報</span>}
                @if (Model.ShareContactNotebook)
                {<span class="ico line">連絡手帳</span>}
                @if (Model.ShareVitalNotebook)
                {<span class="ico line">バイタル手帳</span>}
                @if (Model.ShareMedicineNotebook)
                {<span class="ico line">お薬手帳</span>}
                @if (Model.ShareExaminationNotebook)
                {<span class="ico line">検査手帳</span>}
            </p>

            @if (Model.CompanyConnectedFlag)
            {
                <p class="submit-area">
                    <a href="javascript:void(0);" id="edit" class="btn btn-submit" data-no="@Model.LinkageSystemNo" data-linkagesystemname="@Model.LinkageSystemName">編集する</a>
                </p>
            }
            else
            {
                <p class="submit-area">
                    <a href="../Integration/CompanyConnectionRequest?fromPageNo=@Convert.ToByte(Model.FromPageNoType)&linkageSystemName=@Uri.EscapeDataString(Model.LinkageSystemName)" class="btn btn-submit">申請する</a>
                </p>
            }
        </section>

        @if (Model.CompanyConnectedFlag)
        {
            <section class="contents-area mb0">
                <h3 class="title mt10">連携を解除</h3>
                連携を解除すると連携したユーザーが閲覧できなくなります。ご注意下さい。
                <div class="submit-area">
                    <a href="javascript:void(0);" id="delete" class="btn btn-close" data-no="@Model.LinkageSystemNo" data-linkagesystemname="@Model.LinkageSystemName">連携を解除する</a>
                </div>
            </section>
        }

        <div class="modal fade" id="delete-modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"><span>×</span></button>
                        <h4 class="modal-title">連携解除の確認</h4>
                    </div>
                    <div class="modal-body">企業連携を解除します。よろしいですか？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close no-ico mb0">閉じる</button>
                        <button type="button" class="btn btn-delete mb0" style=" padding: 9px 18px; height: auto;">解 除</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    @Html.Action("IntegrationFooterPartialView", "Integration")

    @Scripts.Render("~/dist/js/integration/companyconnection")
</body>
