@model NoteExaminationViewModel
@using MGF.QOLMS.QolmsCryptV1

@{
    ViewBag.Title  = "健診結果";
    Layout = "~/Views/Shared/_NoteLayout.cshtml";
}

<body id="kenshin" class="lower result">
    @Html.AntiForgeryToken()

    <main id="main-cont" class="clearfix mb100" role="main">
        @*<section class="home-btn-wrap" data-pageno="1">
            <a href="../Portal/Home" class="home-btn"><i class="la la-angle-left"></i></a>
        </section>*@
        <section class="data-area">

            @Html.Action("NoteExaminationResultPartialView", "Note")

            @Html.Action("NoteExaminationFilterPartialView", "Note")

        </section>
    </main>

    <section class="contents-area fixed">
        <div class="btn-area">
            @{
                using (var crypt = new QsCrypt(QsCryptTypeEnum.QolmsWeb))
                {
                    <a id="calculation"
                       href="javascript:void(0);"
                       class="btn btn-style3 block bold mb0"
                       data-reference="">
                        <img class="ico-img" src="/dist/img/health-age/usual.png" alt="" />
                        健康年齢を測定しよう!
                    </a>
                }
            }
        </div>
    </section>

    <div id="modal-text" class="hide">
        <h3><span>文章表示</span></h3>

        <div class="text-body">文章が表示されます。文章が表示されます。文章が表示されます。文章が表示されます。文章が表示されます。</div>
        <br />
        <div class="text-standard"></div>
        <div class="text-unit"></div>
        <i class="la la-close" id="modal-close"></i>
    </div>

    <div class="modal fade" id="info-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                    <h4 class="modal-title">項目説明文</h4>
                </div>
                <div class="modal-body">
                    項目説明文が入ります。項目説明文が入ります。項目説明文が入ります。項目説明文が入ります。項目説明文が入ります。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("NoteFooterPartialView", "Note")
    @*@Scripts.Render("~/dist/js/note/examination")*@
    @QjHtmlHelper.RenderScriptTag("~/dist/js/note/examination")
    <link rel="stylesheet" href="/dist/css/slick.css" type="text/css"><!-- slider -->
    <link rel="stylesheet" href="/dist/css/slick-theme.css" type="text/css"><!-- slider -->
    <script type="text/javascript" src="/dist/js/slick.min.js"></script><!-- slider -->
</body>
