@using System

@using MGF.QOLMS.QolmsJotoWebView

@model IntegrationCompanyConnectionEditViewModel



@{

    ViewData["Title"] = string.Format("{0}連携編集", Model.LinkageSystemName);

    Layout = "~/Views/Shared/_IntegrationLayout.cshtml";

}



<body id="gulf-cont" class="lower gulf">

    @Html.AntiForgeryToken()



    <main id="main-cont" class="clearfix" role="main">

        <section class="contents-area">

            <h2 class="title">@ViewData["Title"]</h2>

            <hr>



            <h3 class="title mt10"><span>連携情報</span></h3>

            <div class="form wizard-form mb30">

                <div class="t-row">

                    <label class="label-txt"><span class="ico required">必須</span> 開示許可</label>

                    <div class="wizard-form inline-block link-ico tanita" id="connection-data">

                        <input id="BasicInfo" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Information)" @(Model.ShareBasicInfo ? "checked=\"checked\"" : string.Empty) />

                        <label for="BasicInfo">基本情報</label>

                        <input id="ContactNotebook" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Contact)" @(Model.ShareContactNotebook ? "checked=\"checked\"" : string.Empty) />

                        <label for="ContactNotebook">連絡手帳</label>

                        <input id="VitalNotebook" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Vital)" @(Model.ShareVitalNotebook ? "checked=\"checked\"" : string.Empty) />

                        <label for="VitalNotebook">バイタル手帳</label>

                        <input id="MedicineNotebook" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Medicine)" @(Model.ShareMedicineNotebook ? "checked=\"checked\"" : string.Empty) />

                        <label for="MedicineNotebook">お薬手帳</label>

                        <input id="ExaminationNotebook" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Examination)" @(Model.ShareExaminationNotebook ? "checked=\"checked\"" : string.Empty) />

                        <label for="ExaminationNotebook">検査手帳</label>

                    </div>

                </div>



                <label for="mail" class="t-row">

                    <span class="label-txt"><span class="ico required">必須</span> 従業員連絡用メールアドレス</span>

                    <input type="email" id="mail" name="MailAddress" class="form-control mb10" placeholder="メールアドレス" value="@Model.MailAddress" maxlength="100" autocomplete="off" />

                </label>



                <section id="summary-cation" class="section caution mt10 mb0 hide">

                    <h4>ご案内</h4>

                    入力内容に不備がある場合はここに表示されます。

                </section>

                <p class="submit-area mb30">

                    <a id="request" href="javascript:void(0);" class="btn btn-submit" data-no="@Model.LinkageSystemNo" data-linkagesystemname="@Model.LinkageSystemName">確 認</a>

                </p>

            </div>

        </section>

    </main>



    @Html.Action("IntegrationFooterPartialView", "Integration")

    @Scripts.Render("~/dist/js/integration/companyconnectionedit")

</body>

