@using System

@using MGF.QOLMS.QolmsJotoWebView

@model IntegrationCompanyConnectionRequestViewModel



@{

    ViewData["Title"] = "法人連携申請";

    Layout = "~/Views/Shared/_IntegrationLayout.cshtml";

}



<body id="gulf-cont" class="lower gulf">

    @Html.AntiForgeryToken()



    <main id="main-cont" class="clearfix" role="main">

        <section class="contents-area">

            <h2 class="title">@ViewData["Title"]</h2>

            <hr>

            <section class="section default">

                @Model.LinkageSystemName と連携します。<br />

                連携が完了すると健診情報がある場合は1時間程度で閲覧いただけるようになります。

            </section>



            <h3 class="title mt10"><span>連携情報</span></h3>

            <div class="form wizard-form mb30">

                <label for="code" class="t-row line">

                    <span class="label-txt"><span class="ico required">必須</span> 企業コード</span>

                    <input type="text" id="code" name="CompanyCode" class="form-control mb10" placeholder="企業コード" value="@Model.CompanyCode" maxlength="25" autocomplete="off" />

                </label>



                <label for="id" class="t-row line">

                    <span class="label-txt"><span class="ico required">必須</span> 社員番号</span>

                    <input type="text" id="id" name="EmployeeNo" class="form-control mb10" placeholder="社員番号" value="@Model.EmployeeNo" maxlength="25" autocomplete="off" />

                </label>



                <div class="t-row line">

                    <label class="label-txt"><span class="ico required">必須</span> お名前</label>

                    <input type="text" id="family-name" name="FamilyName" class="form-control mb10" placeholder="姓" value="@Model.FamilyName" maxlength="25" autocomplete="off" />

                    <input type="text" id="given-name" name="GivenName" class="form-control" placeholder="名" value="@Model.GivenName" maxlength="25" autocomplete="off" />

                </div>



                <div class="t-row line">

                    <label class="label-txt"><span class="ico required">必須</span> お名前（カナ）</label>

                    <input type="text" id="family-kana-name" name="FamilyKanaName" class="form-control mb10" placeholder="セイ" value="@Model.FamilyKanaName" maxlength="25" autocomplete="off" />

                    <input type="text" id="given-kana-name" name="GivenKanaName" class="form-control" placeholder="メイ" value="@Model.GivenKanaName" maxlength="25" autocomplete="off" />

                </div>



                <label class="t-row line">

                    <span class="label-txt"><span class="ico required">必須</span> 性別</span>

                    <p id="sex" style="font-size:16px; padding:10px 12px;" data-value="@Convert.ToByte(Model.SexType)">@Model.SexLabel</p>

                </label>



                <div class="t-row">

                    <label class="label-txt"><span class="ico required">必須</span> 生年月日</label>

                    <p id="birthday" style="font-size:16px; padding:10px 12px;" data-birthyear="@Model.BirthYear" data-birthmonth="@Model.BirthMonth" data-birthday="@Model.BirthDay">@Model.BirthDateLabel</p>

                </div>



                <div class="t-row">

                    <label class="label-txt"><span class="ico required">必須</span> 開示許可</label>

                    <div class="wizard-form inline-block link-ico tanita" id="connection-data">

                        <input id="BasicInfo" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Information)" @(Model.ShareBasicInfo ? "checked=\"checked\"" : string.Empty) />

                        <label for="BasicInfo">基本情報</label>

                        <input id="ContactNotebook" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Contact)" @(Model.ShareContactNotebook ? "checked=\"checked\"" : string.Empty) />

                        <label for="ContactNotebook">連絡手帳</label>

                        <input id="VitalNotebook" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Vital)" @(Model.ShareVitalNotebook ? "checked=\"checked\"" : string.Empty) />

                        <label for="VitalNotebook">バイタル手帳</label>

                        <input id="MedicineNotebook" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Medicine)" @(Model.ShareMedicineNotebook ? "checked=\"checked\"" : string.Empty) />

                        <label for="MedicineNotebook">お薬手帳</label>

                        <input id="ExaminationNotebook" type="checkbox" value="true" data-content="@Convert.ToInt64(QjRelationContentTypeEnum.Examination)" @(Model.ShareExaminationNotebook ? "checked=\"checked\"" : string.Empty) />

                        <label for="ExaminationNotebook">検査手帳</label>

                    </div>

                </div>



                <section id="summary-cation" class="section caution mt10 mb0 hide">

                    <h4>ご案内</h4>

                    入力内容に不備がある場合はここに表示されます。

                </section>

                <p class="submit-area mb30">

                    <a id="request" href="javascript:void(0);" class="btn btn-submit" data-linkagesystemname="@Model.LinkageSystemName">確 認</a>

                </p>

            </div>

        </section>



        @if (Model.IsPremiumMember)
        {
            <div class="modal fade" id="disconnect-modal" tabindex="-1" data-backdrop="static" data-keyboard="false">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">

                            <button type="button" class="close"><span>×</span></button>

                            <h4 class="modal-title">確認</h4>

                        </div>

                        <div class="modal-body">企業連携を利用するとプレミアム会員が解約されます。<br />よろしいですか？</div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-close no-ico mb0">閉じる</button>

                            <button type="button" class="btn btn-delete">解 除</button>

                        </div>

                    </div>

                </div>

            </div>
        }

        <div class="modal fade" id="identity-modal" tabindex="-1" data-backdrop="static" data-keyboard="false">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close"><span>×</span></button>

                        <h4 class="modal-title">確認</h4>

                    </div>

                    <div class="modal-body">入力された個人情報が登録と一致しませんでした。個人情報更新しますか？</div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-close no-ico mb0">閉じる</button>

                        <button type="button" class="btn btn-submit">更 新</button>

                    </div>

                </div>

            </div>

        </div>

    </main>



    @Html.Action("IntegrationFooterPartialView", "Integration")

    @Scripts.Render("~/dist/js/integration/companyconnectionrequest")

</body>

