@using System
@using MGF.QOLMS.QolmsJotoWebView
@model IntegrationHospitalConnectionRequestViewModel

@{
    ViewData["Title"] = "病院連携申請";
    Layout = "~/Views/Shared/_IntegrationLayout.cshtml";
}

<body id="hospital-connection-request" class="lower">
    @Html.AntiForgeryToken()

    <main id="main-cont" class="clearfix" role="main">
        <section class="home-btn-wrap" data-pageno="@Convert.ToByte(Model.FromPageNoType)">
            @if (Model.FromPageNoType == QjPageNoTypeEnum.PortalHome)
            {
                <a href="@Url.Action("ConnectionSetting", "Portal", new { fromPageNo = 1, tabNo = 3 })" class="home-btn"><i class="la la-angle-left"></i></a>
            }
            else
            {
                <a href="@Url.Action("ConnectionSetting", "Portal", new { tabNo = 3 })" class="home-btn"><i class="la la-angle-left"></i></a>
            }
        </section>

        <section class="contents-area">
            <h2 class="title">病院連携申請</h2>
            <hr>

            <section class="section default">
                病院にデータ連携の申請をします。<br />
                連携申請を行うと、病院側へアプリ内の各種データが開示されます。
            </section>

            <section id="summary-cation" class="section caution hide">
                <h4><i class="la la-warning"></i> エラー</h4>
            </section>

            <div class="form wizard-form mb30">
                <label for="no" class="t-row line">
                    <span class="label-txt"><span class="ico required">必須</span> 病院</span>
                    <select id="no" class="form-control" data-current-no="@Model.LinkageSystemNo" required="required" @(Model.IsHospitalSelectionFixed ? "disabled=\"disabled\"" : string.Empty)>
                        <option value="0">選択してください</option>
                        @foreach (var item in Model.HospitalList)
                        {
                            <option value="@item.Key" @(item.Key == Model.LinkageSystemNo ? "selected=\"selected\"" : string.Empty)>@item.Value</option>
                        }
                    </select>
                </label>

                <label for="patient-no" class="t-row line">
                    <span class="label-txt"><span class="ico required">必須</span> 診察券番号</span>
                    <input type="text" id="patient-no" class="form-control mb10" placeholder="診察券番号" value="@Model.PatientNo" maxlength="12" autocomplete="off" />
                </label>

                <div class="t-row line">
                    <label class="label-txt"><span class="ico required">必須</span> お名前</label>
                    <input type="text" id="family-name" class="form-control mb10" placeholder="姓" value="@Model.FamilyName" maxlength="25" autocomplete="off" />
                    <input type="text" id="given-name" class="form-control" placeholder="名" value="@Model.GivenName" maxlength="25" autocomplete="off" />
                </div>

                <div class="t-row line">
                    <label class="label-txt"><span class="ico required">必須</span> お名前（カナ）</label>
                    <input type="text" id="family-kana-name" class="form-control mb10" placeholder="セイ" value="@Model.FamilyKanaName" maxlength="25" autocomplete="off" />
                    <input type="text" id="given-kana-name" class="form-control" placeholder="メイ" value="@Model.GivenKanaName" maxlength="25" autocomplete="off" />
                </div>

                <label class="t-row line">
                    <span class="label-txt"><span class="ico required">必須</span> 性別</span>
                    <p id="sex" style="font-size:16px; padding:10px 12px;" data-value="@Convert.ToByte(Model.SexType)">@QjDictionary.SexType[Model.SexType]</p>
                </label>

                <div class="t-row line">
                    <label class="label-txt"><span class="ico required">必須</span> 生年月日</label>
                    <p id="birthday" data-birthyear="@Model.BirthYear" data-birthmonth="@Model.BirthMonth" data-birthday="@Model.BirthDay" style="font-size:16px; padding:10px 12px;">@Model.BirthDateLabel</p>
                </div>

                <label for="mail" class="t-row line">
                    <span class="label-txt"><span class="ico required">必須</span> 連絡先メールアドレス</span>
                    <input type="text" id="mail" class="form-control w-max" value="@Model.MailAddress" maxlength="256" autocomplete="off" />
                </label>

                <div class="t-row">
                    <label class="label-txt"><span class="ico required">必須</span> 開示許可</label>
                    <div class="wizard-form inline-block link-ico tanita" id="connection-data">
                        @foreach (QjRelationContentTypeEnum item in Enum.GetValues(typeof(QjRelationContentTypeEnum)))
                        {
                            if (!(item == QjRelationContentTypeEnum.None
                                || item == QjRelationContentTypeEnum.Contact
                                || item == QjRelationContentTypeEnum.Dental
                                || item == QjRelationContentTypeEnum.Assessment))
                            {
                                bool checkedFlag = Model.LinkageSystemNo > 0
                                    ? (item == QjRelationContentTypeEnum.Information || (Model.RelationContentFlags & item) == item)
                                    : true;

                                <input id="@item.ToString()" type="checkbox" value="true" @(checkedFlag ? "checked=\"checked\"" : string.Empty) data-content="@Convert.ToInt64(item)" />
                                <label for="@item.ToString()">@QjDictionary.RelationContentType[item]</label>
                            }
                        }
                    </div>
                </div>


                <p class="submit-area mb30">
                    <a id="request" href="javascript:void(0);" class="btn btn-submit">申 請</a>
                </p>
            </div>
        </section>

        <div class="modal fade" id="identity-modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"><span>×</span></button>
                        <h4 class="modal-title">確認</h4>
                    </div>
                    <div class="modal-body">入力された個人情報が登録と一致しませんでした。個人情報更新しますか？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close no-ico mb0">閉じる</button>
                        <button type="button" class="btn btn-submit">更 新</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    @Html.Action("IntegrationFooterPartialView", "Integration")

    @Scripts.Render("~/dist/js/integration/hospitalconnectionrequest")
</body>
