
@{
    ViewData["Title"] = "エラー";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    
    var segments = Request.Path.Split('/');
    var returnPath = string.Empty;
    
    if (segments != null && segments.Length == 3)
    {
        returnPath = string.Format("..{0}{1}{2}", 
            segments[0].ToLower(), 
            segments[1].ToLower(), 
            segments[2].ToLower().Replace("result", string.Empty));
    }
}

<body id="error" class="lower">
    <main id="main-cont" class="" role="main">
        <section class="contents-area">
            <h2 class="title">
                エラーが発生しました
            </h2>
            <hr>
            <div class="center">
                <img src="../dist/img/tmpl/error.png" class="w200 mb20">
            </div>

            <section class="section caution">
                @if (TempData.ContainsKey("ErrorMessage") && !string.IsNullOrWhiteSpace(TempData["ErrorMessage"]?.ToString()))
                {
                    @Html.Raw(QjHtmlHelper.CrLfToBreakTag(TempData["ErrorMessage"].ToString()))
                }
                else
                {
                    @Html.Raw("ページの表示に失敗しました。")
                }
            </section>

            <div class="submit-area">
                <a href="@returnPath" class="btn btn-close no-ico">戻 る</a>
            </div>
        </section>
    </main>

    @Html.Action("PortalFooterPartialView", "Portal")

    @Html.Raw(QjHtmlHelper.RenderScriptTag("~/dist/js/puremium/error"))
</body>
